<% if @top_contributors %>
  <h2>Results</h2>
  <table>
    <% @top_contributors.each_with_index do |contributor, index| %>
      <tr>
        <td><%= contributor %></td>
        <td><a href="/download/<%= index+1 %>/<%= contributor %>" target="_blank">download pdf</a></td>
      </tr>
    <% end %>
  </table>

  <a href="/download_zip?usernames=<%= @top_contributors.join(',') %>">download zip (<%= @top_contributors.size %>)</a>
<% end %>