<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Top Contributors</title>
  <meta name="description" content="Top Contributors">
  <meta name="author" content="Vladislav Isakov">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <form action="search">
    <input name="repo_url" type="text" placeholder="Введите ссылку на репозиторий"></input>
    <button type="submit">Search</button>
    <% if @error %>
      <span class="error"><%= @error %></span>
    <% end %>
  </form>

  <% if !@error && @top_contributors %>
    <h2>Results</h2>
    <table>
      <% @top_contributors.each_with_index do |contributor, index| %>
        <tr><td><%= contributor %></td><td><a href="/download/<%= index+1 %>/<%= contributor %>">download pdf</a></td></tr>
      <% end %>
    </table>

    <a href="/download_zip">download zip (<%= @top_contributors.size %>)</a>
  <% end %>
</body>
</html>